@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --clr--gray-700:hsl(217, 19%, 35%);
    --clr-gray-500:hsl(214, 17%, 51%);
    --clr-gray-300:hsl(212, 23%, 69%);
    --clr-gray-100:hsl(210, 46%, 95%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-gray-100);
    font-size: 13px;
    font-weight: 500;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    display: grid;
    place-items: center;
}

main{
    max-width: 425px;
        background: var(--card-bg);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 1.7rem;
        border-radius: 0.5rem;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}


.card_section{
    display: grid;
    background-color: white;
    border-radius: .5rem;
}

main .image_container{
    overflow: hidden;
}

main .image_container img{
    display: block;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    transition: all 0.5s linear;
}

main .image_container img:hover{
    transform: scale(1.2);
}

.card_details{
    padding: 2.5rem 2rem 1.5rem 2rem;
}

.card_title{
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-gray-700);
    margin-bottom: 1rem;
    opacity: 0.6;
}

.card_description {
    color: var(--clr-gray-500);
    opacity: 0.8;
    font-weight: 500;
}


.card_author{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.author_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author_details{
    display: flex;
    flex-direction: column;
    margin-left: -1.2rem;
}


.author_name{
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--clr-gray-700);
    opacity: 0.7;
}

.author_date{
    font-size: 0.8rem;
    color: var(--clr-gray-500);
    opacity: 0.7;
    padding-top: 3px;
}

.card_author .share #share_icon{
        display: block;
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        width: auto;
        background-color: var(--clr-gray-100);
        padding: 0.5rem;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s linear;
}

.card_author .share_links{
    margin-left: -32px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 325px;
    height: 0%;
    overflow: hidden;
    background-color: var(--clr-gray-500);
    z-index: 0;
    transition: all 0.3s ease-in;
    border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
}

.active .share_links{
    height: auto;
    padding: 1.5rem 2rem 1.75rem 2rem;
}


.share_links span {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--clr-gray-300);
}

.share_links a:hover {
    transform: scale(1.2);
}

